/*
Date: Feb 14, 2017

Module: core.css

This module describes the styles that
apply to the entire website and are
not page specific. Ex. navigation bar,
mainContainer, etc...

Written by: Lefteris Spetsakis
*/

/*************************
  Main Container styles
*************************/

div#fullContainer {max-width: 850px;}

div.center-core {margin: auto;}

div.container {max-width: 850px;}

/*************************
  Navigation bar styles
*************************/

ul.topNavClass {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topNavClass li {float: left;}

/* text styling */
ul.topNavClass li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center-core;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topNavClass li a:hover {background-color: #555;}

ul.topNavClass li.icon {display: none;}

/*************************
  Nav bar options styles
*************************/

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topNavClass (li.icon) */
@media screen and (max-width:320px) {
  ul.topNavClass li a {
    padding: 14px 13.7px;
  }
}

/*************************
    Home Banner Styles
*************************/

img.proj-banner-home {
  width: 100%;
  max-width: 850px;
  padding: -10px;
}



/*************************
     Home Text Styles
*************************/

div.welcome-text {
  padding-top: 25px;
  font-size: 16px;
}

/*************************
      Project Styles
*************************/

div.project-item-outer {
  padding-bottom: 20px;
}

/*************************
       About Styles
*************************/

div#social-links {
  align-self: center;
  padding-bottom: 20px;
}

div#social-links a {
  padding: 20px;
  align-self: auto;
/*
  padding-left: 20px;
  padding-right: 20px;
*/
}

/*************************
      Footer Styles
*************************/

div#footer-bg {
  background-color: #333;
}

div#footer-bg > .row > .footer-text > h3,
div#footer-bg > .row > .footer-text > p {
  color: lightgrey;
  text-align: center-core;
}

a.footer-link {
  color: lightgrey;
}

a.footer-link:hover {
  color: lightgrey;
}

div.footer-text > h3, div.footer-text > a, div.footer-text > p {
  text-align: center;
}

