/*
Date: Feb 14, 2017

Module: core.css

This module describes the styles that
apply to the entire website and are
not page specific. Ex. navigation bar,
mainContainer, etc...

Written by: Lefteris Spetsakis
*/

/*************************
  Main Container styles
*************************/

div#fullContainer {max-width: 850px;}

div.center-core {margin: auto;}

div.container {max-width: 850px;}

/*************************
  Navigation bar styles
*************************/

ul.topNavClass {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topNavClass li {float: left;}

/* text styling */
ul.topNavClass li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center-core;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topNavClass li a:hover {background-color: #555;}

ul.topNavClass li.icon {display: none;}

/*************************
  Nav bar options styles
*************************/

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topNavClass (li.icon) */
@media screen and (max-width:680px) {
  ul.topNavClass li:not(:first-child) {display: none;}
  ul.topNavClass li.icon {
    float: right;
    display: inline-block;
  }
}

/*************************
     Carousel Styles
*************************/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

#carousel-container {
  padding: 0;
}

/*************************
      Project Styles
*************************/

div.project-item-outer {
  padding-bottom: 20px;
}

/*************************
      Footer Styles
*************************/

div#footer-bg {
  background-color: #333;
}

div#footer-bg > .row > .col-lg-6 > h3,
div#footer-bg > .row > .col-lg-6 > p {
  color: #f2f2f2;
  text-align: center-core;
}

/* The "responsive" class is added to the topNavClass with JavaScript when the user clicks on the icon. This class makes the topNavClass look good on small screens */

@media screen and (max-width:680px) {
  ul.topNavClass.responsive {position: relative;}
  ul.topNavClass.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
/*
  ul.topNavClass.responsive li {
    float: none;
    display: inline;
  }
  ul.topNavClass.responsive li a {
    display: block;
    text-align: left;
  }
*/
  .topNavClass.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
